<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Process the Xacro into URDF -->
    <param name="robot_description" command="$(find xacro)/xacro $(find task12_1)/urdf/robot.xacro" />

    <!-- Spawn the robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model simple_robot -x 0 -y 0 -z 0" />

    <!-- Joint State Publisher (sliders for joints) -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <!-- Robot State Publisher (broadcasts TF frames) -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find task12_1)/rviz/simple_robot.rviz" />

</launch>
